.container{
    background-color: var(--corBackground);
    width: 1170px;
    margin: 0 auto;
    border-radius: 5px;
    .envolveTituloComBotaoCompartilhar{
        display: flex;
        justify-content: space-between;
        padding: 25px 0;
        .dropdown {
            position: relative;
            display: inline-block;
            padding-top: 23px;
            .dropbtn {
                background-color: #e0e0e0;
                border-radius: 2px;
                padding: 5px 10px;
                display: flex;
                justify-content: center;
                gap: 3.5px;
                cursor: pointer;
                color: #353535;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
              }      
              .dropdownContent {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                padding: 5px 24px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                gap: 5px;
                a {
                    text-decoration:none;
                    color: #353535;
                }
            }      
            .show {
                display: flex;
                flex-direction: column;
            }
        }       
        .tituloNoticia{
            padding: 15px 15px 15px 0;
        }
    }
    .fonteNoticia{
        border-bottom: 2px solid rgb(102, 102, 102);
        color: rgb(102, 102, 102);
        width: 85%;
        padding: 5px;
    }
    .envolveImagemComTextoNoticia{
        padding-top: 40px;
        // display: flex;
        // display: inline-block;
        p {
            margin-bottom: 10px;
            color: rgb(27, 27, 27);
        }
        .envolveImagemPrincipal{
            position: relative;
            width: 300px;
            height: 240px;
            padding: 5px;
            border: 2px solid rgb(0, 0, 0);
            overflow: hidden;
            display: inline-block;
            float: left;
            margin-right: 15px;
            cursor: pointer;
            .textoAmpliarImg{
                position: absolute;
                z-index: 1;
                margin-left: -5px;
                margin-top: -50px;
                width: 100%;
                padding: 5px 0;
                text-align: center;
                background-color: rgba(255, 255, 255, 0.623);
                transition: 0.2s;
            }
                                
        }
        .envolveImagemPrincipal:hover{
            border-color: var(--corTema1);
            .textoAmpliarImg{
                z-index: 1;
                margin-top: -5px;
            }
        }                    
        .textoNoticiaComImagemPincipal{
            font-size: 15px;
            padding-bottom: 20px;    
            position: relative;        
            .envolveImagens{
                max-width: 50%;
                display: inline-block;
                float: left;
                position: relative;
                padding: 0 10px 20px 0;
            }
            
            .textoNoticia{
              margin: 10px 0;
            }
        }
               
    }
    .maisImagensNoticias{
        position: relative;
        width: 100px;
        height: 80px;
        
    }
    .maisFotosNoticia{        
        .fotosNoticia{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            margin-bottom: 100px;            
            .maisImagensNoticias{
                // margin-left: 10px;
                // padding: 5px;
                border: 2px solid rgb(0, 0, 0);
                overflow: hidden;
                cursor: pointer;
                .textoAmpliarImg{
                    position: absolute;
                    z-index: 1;
                    margin-left: -5px;
                    margin-top: -50px;
                    width: 100%;
                    // padding: 5px 0;
                    text-align: center;
                    background-color: rgba(255, 255, 255, 0.623);
                    transition: 0.2s;
                }
                .outrasImagensNoticias{
                    position: absolute;
                    // margin-top: -5px;
                }
            }
            .maisImagensNoticias:hover{
                border-color: var(--corTema1);
                .textoAmpliarImg{
                    z-index: 1;
                    margin-top: -5px;
                }
            }
        }
    }
    .envolveImagemModal{
        padding: 10px;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        position: relative;
    }
    .textoMaisFotos{
        margin-bottom: 20px;
    } 
}

@media (min-width: 995px) and (max-width: 1249px) {
    .container{
        max-width: 968px;
    }
}

@media (min-width: 768px) and (max-width: 994px) {        
    .container{
        max-width: 760px;
        .maisFotosNoticia{
            .fotosNoticia{                
                .maisImagensNoticias{
                    width: 100px;
                }
            }
        }
    }
}

@media (max-width:767px) {
    .container{
        width: 90%;
        .envolveTituloComBotaoCompartilhar{
            font-size: 13px;
            position: relative;
            .dropdown {
                position: absolute;
                bottom: -57px;
                right: 0;
                display: inline-block;                                             
            }                  
        }
        .maisFotosNoticia{
            .modalImagem{
                width: 80%!important;
                height: 60vw!important;
            }
        }
        .textoMaisFotos{
            margin-left: 10px;
        }

        .envolveImagemComTextoNoticia{            
            .textoNoticiaComImagemPincipal{
                width: 100%;
                font-size: 15px;
                padding-bottom: 20px;
                display: flex;       
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .envolveImagens{
                    max-width: 90%;
                    display: block;
                    height: auto;
                    margin-bottom: 0;
                }
                .textoNoticia{
                    width: 100%;        
                    position: relative;
                    iframe{
                        position: relative;
                        width: 100%;
                    }
                }
            }
        }
    }
}