

.content{background-color:#F5F5F5}


.container {width: 100%;}

.veiculoCorpo{display: flex;  justify-content: space-between;}

.pageHeader {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    background-color: #dc3545;
}

// .imgPedido{width: 300px;}

.botaoForm{
    margin-top: 15px;    
    border-radius: 4px;
    padding: 10px;
    background-color: #ff0019;
    color: #ffffff;
    width: 120px;
    font-size: 14px;
    float: right;
    cursor: pointer;
 }

 .botaoForm:hover{
    background-color: #720f19;
 }
 .formMensage{
    width: 100%;
 }
.cardBotao{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


.panelHeading{
    padding: 10px;
    background-color:rgb(219, 219, 219);
    font-size: 15px;
} 

.formControl {
    padding: 10px;
    border-radius: 0;
    color: #000000;
    border: 0.5px solid #e9e9e9;
    display: block;
    margin: 5px 0;
    background-color: #f8f9fa;
    width: calc(100% - 20px);
}

.row {
    width: 1170px;
    display: flex;
    justify-content: space-between;
}

.containerMain{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.containerDadosVeiculo, .containerDadosContato{
    display: flex;
    flex-direction: column;
    gap: 10px;    
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
}

.dadosVeiculoCorpo, .dadosCorpo {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px;
}
.formMensage{    
    padding: 10px;
    width: calc(100% - 20px);
}

.toastContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;    
}

@media (max-width: 768px) {
    .colmd6 { 
        flex: 0 0 auto; width: 58%; 
    }
    .dadosVeiculoCorpo, .dadosCorpo {
        flex-direction: column;        
    }
    .botaoForm{
        width: 100%;
    }
    .toastContainer {
        // background-color: #ff0000;
        display: flex;
        flex-direction: column;
        gap: 3px;
        width: 70%;
        margin: 0 auto;        
    }
}
